## CSV comparsion tool

In [1]:
import pandas as pd
import numpy as np
import os
from glob import glob
from IPython.display import display

In [2]:
PATH1 = '/Users/menghengxue/Desktop/gsa/csv-check-tool/expected_data1'
PATH2 = '/Users/menghengxue/Desktop/gsa/csv-check-tool/expected_data2'
EXT = "*.csv"

In [3]:
def data_preparation(path):
    file_and_data = {}
    all_files_path = [file for path, subdir, files in os.walk(path) for file in glob(os.path.join(path, EXT))]

    for file_path in all_files_path:
        with open(file_path) as target_file:
            file = '/'.join(file_path.split('/')[-2:])
#             path, file = os.path.split(file_path)
            file_and_data[file] = pd.read_csv(target_file)
            
    return file_and_data
    

files_old = data_preparation(PATH1)
files_new = data_preparation(PATH2)        
files_new.keys()

dict_keys(['loan/metrics_is_origination_slr.csv', 'loan/loan_category.csv', 'loan/is_consumer_borrowing.csv', 'loan/is_reo.csv', 'loan/is_origination_loan.csv', 'loan/metrics_is_origination_sfr.csv', 'loan/metrics_is_origination_plp.csv', 'loan/metrics_is_origination_loan.csv', 'loan/is_eagle_loan.csv', 'loan/has_open_date.csv', 'loan/is_open.csv', 'loan/is_open_tranche.csv', 'loan/is_loan.csv', 'loan/tranche_chargeoff.csv', 'loan/is_consumer.csv', 'deposit/cd_group.csv', 'deposit/is_deposit.csv', 'deposit/fin_channel.csv', 'deposit/is_checking.csv', 'deposit/deposit_type.csv', 'deposit/is_open.csv', 'deposit/entity_type.csv', 'deposit/is_fx.csv', 'deposit/is_institutional.csv', 'region/deposit_region.csv', 'region/loan_region.csv', 'consumer/is_active_customer.csv', 'consumer/generation_.csv'])

In [4]:
def highlight_diff(data, color='yellow'):
    attr = 'background-color: {}'.format(color)
    other = data.xs('old', axis='columns', level=-1)
    return pd.DataFrame(np.where(data.ne(other, level=0), attr, ''),
                        index=data.index, columns=data.columns)

def file_compare(files_old, files_new): 
    wrong_files = {}

    for file in files_old:
        if files_old[file].equals(files_new[file]):
            print('{} : ok.'.format(file))
        else:
            merge_df = pd.concat([files_old[file], files_new[file]], axis='columns', keys=['old', 'new'])
            wrong_files[file] = merge_df.swaplevel(axis='columns')[files_old[file].columns[1:]]
    
    for file in wrong_files:
        print('{} : wrong'.format(file))
        display(wrong_files[file].style.apply(highlight_diff, axis=None))
        

file_compare(files_old, files_new)

loan/metrics_is_origination_slr.csv : ok.
loan/loan_category.csv : ok.
loan/is_consumer_borrowing.csv : ok.
loan/is_reo.csv : ok.
loan/metrics_is_origination_sfr.csv : ok.
loan/metrics_is_origination_plp.csv : ok.
loan/metrics_is_origination_loan.csv : ok.
loan/is_eagle_loan.csv : ok.
loan/has_open_date.csv : ok.
loan/is_open.csv : ok.
loan/is_loan.csv : ok.
loan/tranche_chargeoff.csv : ok.
loan/is_consumer.csv : ok.
deposit/cd_group.csv : ok.
deposit/is_deposit.csv : ok.
deposit/is_checking.csv : ok.
deposit/deposit_type.csv : ok.
deposit/is_open.csv : ok.
deposit/entity_type.csv : ok.
deposit/is_fx.csv : ok.
deposit/is_institutional.csv : ok.
region/deposit_region.csv : ok.
region/loan_region.csv : ok.
consumer/is_active_customer.csv : ok.
consumer/generation_.csv : ok.
loan/is_origination_loan.csv : wrong

loan/is_open_tranche.csv : wrong

deposit/fin_channel.csv : wrong